.DS_Store
node_modules
dist
tsconfig.tsbuildinfo

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
__init__.py

# Pytest
.pytest_cache

# System
.DS_Store
**/.DS_Store

# Environment
.env

# IDE
.vscode/
.idea/

# Uptime-Kuma files
monitoring/uptime-kuma/*

# Generated Data
auth/database/*
auth/logs/*
auth/modules/api/users/initial_users.yaml
backend/db/*
backend/logs/*
