:root {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
  font-weight: 400;
  color: #00ff00;
  background-color: #000000;
}

body {
  margin-bottom: 60px;
  min-width: 320px;
  min-height: 100vh;
}

.module {
  font-family: 'Courier New', Courier, monospace;
  padding: 15px;
  margin: 15px;
  background-color: #111;
  border: 1px solid #00ff00;
  border-radius: 0;
  flex-wrap: wrap;
  gap: 30px;
}

.backup-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.table-container {
  width: 100%;
  overflow-x: auto;
  max-height: 60vh;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  position: sticky;
  top: 0;
  background-color: #222;
  z-index: 1;
  padding: 15px;
  border: 1px solid #00ff00;
  color: #00ff00;
}

table th {
  text-align: center;
  font-weight: bold;
  padding: 15px;
  background-color: #002200;
  color: #00ff00;
}

td {
  padding: 1px 8px;
  text-align: center;
  word-wrap: break-word;
  overflow: hidden;
  color: #00ff00;
}

.edit-btn,
.delete-btn,
.open-btn {
  margin-right: 5px;
  background-color: inherit;
  color: #00ff00;
  border: none;
}

button {
  background-color: #003300;
  color: #00ff00;
  border: 1px solid #00ff00;
  margin-bottom: 10px;
  border-radius: 0;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.25s;
  margin-right: 5px;
  margin-left: 5px;
}

button:hover {
  background-color: #005500;
}

.form-section {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #111;
  border: 1px solid #00ff00;
  border-radius: 0;
}

.form-section h3 {
  color: #00ff00;
  font-size: 1.2em;
  margin-bottom: 10px;
  text-align: center;
}

textarea,
input {
  background-color: #000;
  color: #00ff00;
  border: 1px solid #00ff00;
  width: 95%;
  padding: 12px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

input {
  width: 80%;
}

.form-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.form-section {
  width: 100%;
  box-sizing: border-box;
}

.form-section input {
  width: 100%;
  box-sizing: border-box;
}

.modal-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: rgb(37, 37, 37);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}